@font-face {
    font-family: 'fontello';
    src: 
    url('fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?4089732#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before {
    content: '\e800';
}

/* 'î €' */
.icon-mail:before {
    content: '\e801';
}

/* 'î ' */
.icon-heart:before {
    content: '\e802';
}

/* 'î ‚' */
.icon-heart-empty:before {
    content: '\e803';
}

/* 'î ƒ' */
.icon-star-empty:before {
    content: '\e804';
}

/* 'î „' */
.icon-star:before {
    content: '\e805';
}

/* 'î …' */
.icon-user:before {
    content: '\e806';
}

/* 'î †' */
.icon-users:before {
    content: '\e807';
}

/* 'î ‡' */
.icon-user-add:before {
    content: '\e808';
}

/* 'î ˆ' */
.icon-picture:before {
    content: '\e809';
}

/* 'î ‰' */
.icon-camera:before {
    content: '\e80a';
}

/* 'î Š' */
.icon-layout:before {
    content: '\e80b';
}

/* 'î ‹' */
.icon-menu:before {
    content: '\e80c';
}

/* 'î Œ' */
.icon-check:before {
    content: '\e80d';
}

/* 'î ' */
.icon-cancel:before {
    content: '\e80e';
}

/* 'î Ž' */
.icon-tag:before {
    content: '\e80f';
}

/* 'î ' */
.icon-eye:before {
    content: '\e810';
}

/* 'î ' */
.icon-lock-open:before {
    content: '\e811';
}

/* 'î ‘' */
.icon-lock:before {
    content: '\e812';
}

/* 'î ’' */
.icon-attach:before {
    content: '\e813';
}

/* 'î “' */
.icon-link:before {
    content: '\e814';
}

/* 'î ”' */
.icon-home:before {
    content: '\e815';
}

/* 'î •' */
.icon-info-circled:before {
    content: '\e816';
}

/* 'î –' */
.icon-help-circled:before {
    content: '\e817';
}

/* 'î —' */
.icon-help:before {
    content: '\e818';
}

/* 'î ˜' */
.icon-info:before {
    content: '\e819';
}

/* 'î ™' */
.icon-bookmark:before {
    content: '\e81a';
}

/* 'î š' */
.icon-bookmarks:before {
    content: '\e81b';
}

/* 'î ›' */
.icon-flag:before {
    content: '\e81c';
}

/* 'î œ' */
.icon-thumbs-up:before {
    content: '\e81d';
}

/* 'î ' */
.icon-thumbs-down:before {
    content: '\e81e';
}

/* 'î ž' */
.icon-quote:before {
    content: '\e81f';
}

/* 'î Ÿ' */
.icon-export:before {
    content: '\e820';
}

/* 'î  ' */
.icon-pencil:before {
    content: '\e821';
}

/* 'î ¡' */
.icon-feather:before {
    content: '\e822';
}

/* 'î ¢' */
.icon-keyboard:before {
    content: '\e823';
}

/* 'î £' */
.icon-retweet:before {
    content: '\e824';
}

/* 'î ¤' */
.icon-comment:before {
    content: '\e825';
}

/* 'î ¥' */
.icon-book:before {
    content: '\e826';
}

/* 'î ¦' */
.icon-book-open:before {
    content: '\e827';
}

/* 'î §' */
.icon-newspaper:before {
    content: '\e828';
}

/* 'î ¨' */
.icon-doc-text-inv:before {
    content: '\e829';
}

/* 'î ©' */
.icon-doc-text:before {
    content: '\e82a';
}

/* 'î ª' */
.icon-doc-landscape:before {
    content: '\e82b';
}

/* 'î «' */
.icon-docs:before {
    content: '\e82c';
}

/* 'î ¬' */
.icon-doc:before {
    content: '\e82d';
}

/* 'î ­' */
.icon-trash:before {
    content: '\e82e';
}

/* 'î ®' */
.icon-cup:before {
    content: '\e82f';
}

/* 'î ¯' */
.icon-compass:before {
    content: '\e830';
}

/* 'î °' */
.icon-direction:before {
    content: '\e831';
}

/* 'î ±' */
.icon-map:before {
    content: '\e832';
}

/* 'î ²' */
.icon-location:before {
    content: '\e833';
}

/* 'î ³' */
.icon-address:before {
    content: '\e834';
}

/* 'î ´' */
.icon-vcard:before {
    content: '\e835';
}

/* 'î µ' */
.icon-alert:before {
    content: '\e836';
}

/* 'î ¶' */
.icon-attention:before {
    content: '\e837';
}

/* 'î ·' */
.icon-bell:before {
    content: '\e838';
}

/* 'î ¸' */
.icon-chat:before {
    content: '\e839';
}

/* 'î ¹' */
.icon-down-open-big:before {
    content: '\e83a';
}

/* 'î º' */
.icon-left-open-big:before {
    content: '\e83b';
}

/* 'î »' */
.icon-right-open-big:before {
    content: '\e83c';
}

/* 'î ¼' */
.icon-up-open-big:before {
    content: '\e83d';
}

/* 'î ½' */
.icon-basket:before {
    content: '\e83e';
}

/* 'î ¾' */
.icon-bag:before {
    content: '\e83f';
}

/* 'î ¿' */
.icon-calendar:before {
    content: '\e840';
}

/* 'î¡€' */
.icon-login:before {
    content: '\e841';
}

/* 'î¡' */
.icon-logout:before {
    content: '\e842';
}

/* 'î¡‚' */
.icon-sound:before {
    content: '\e843';
}

/* 'î¡ƒ' */
.icon-clock:before {
    content: '\e844';
}

/* 'î¡„' */
.icon-phone:before {
    content: '\e845';
}

/* 'î¡…' */
.icon-lamp:before {
    content: '\e846';
}

/* 'î¡†' */
.icon-ccw:before {
    content: '\e847';
}

/* 'î¡‡' */
.icon-cw:before {
    content: '\e848';
}

/* 'î¡ˆ' */
.icon-arrows-ccw:before {
    content: '\e849';
}

/* 'î¡‰' */
.icon-level-down:before {
    content: '\e84a';
}

/* 'î¡Š' */
.icon-level-up:before {
    content: '\e84b';
}

/* 'î¡‹' */
.icon-shuffle:before {
    content: '\e84c';
}

/* 'î¡Œ' */
.icon-globe:before {
    content: '\e84d';
}

/* 'î¡' */
.icon-network:before {
    content: '\e84e';
}

/* 'î¡Ž' */
.icon-trophy:before {
    content: '\e84f';
}

/* 'î¡' */
.icon-air:before {
    content: '\e850';
}

/* 'î¡' */
.icon-water:before {
    content: '\e851';
}

/* 'î¡‘' */
.icon-droplet:before {
    content: '\e852';
}

/* 'î¡’' */
.icon-leaf:before {
    content: '\e853';
}

/* 'î¡“' */
.icon-paper-plane:before {
    content: '\e854';
}

/* 'î¡”' */
.icon-flight:before {
    content: '\e855';
}

/* 'î¡•' */
.icon-flash:before {
    content: '\e856';
}

/* 'î¡–' */
.icon-moon:before {
    content: '\e857';
}

/* 'î¡—' */
.icon-graduation-cap:before {
    content: '\e858';
}

/* 'î¡˜' */
.icon-lifebuoy:before {
    content: '\e859';
}

/* 'î¡™' */
.icon-mouse:before {
    content: '\e85a';
}

/* 'î¡š' */
.icon-briefcase:before {
    content: '\e85b';
}

/* 'î¡›' */
.icon-suitcase:before {
    content: '\e85c';
}

/* 'î¡œ' */
.icon-th-list:before {
    content: '\e85d';
}

/* 'î¡' */
.icon-th:before {
    content: '\e85e';
}

/* 'î¡ž' */
.icon-th-large:before {
    content: '\e85f';
}

/* 'î¡Ÿ' */
.icon-search-1:before {
    content: '\e860';
}

/* 'î¡ ' */
.icon-signal:before {
    content: '\e861';
}

/* 'î¡¡' */
.icon-arrows-cw:before {
    content: '\e862';
}

/* 'î¡¢' */
.icon-lock-1:before {
    content: '\e863';
}

/* 'î¡£' */
.icon-attach-1:before {
    content: '\e864';
}

/* 'î¡¤' */
.icon-music:before {
    content: '\e865';
}

/* 'î¡¥' */
.icon-search-2:before {
    content: '\e866';
}

/* 'î¡¦' */
.icon-mail-1:before {
    content: '\e867';
}

/* 'î¡§' */
.icon-heart-1:before {
    content: '\e868';
}

/* 'î¡¨' */
.icon-star-1:before {
    content: '\e869';
}

/* 'î¡©' */
.icon-user-1:before {
    content: '\e86a';
}

/* 'î¡ª' */
.icon-videocam:before {
    content: '\e86b';
}

/* 'î¡«' */
.icon-camera-1:before {
    content: '\e86c';
}

/* 'î¡¬' */
.icon-photo:before {
    content: '\e86d';
}

/* 'î¡­' */
.icon-attach-2:before {
    content: '\e86e';
}

/* 'î¡®' */
.icon-eye-1:before {
    content: '\e86f';
}

/* 'î¡¯' */
.icon-thumbs-up-1:before {
    content: '\e870';
}

/* 'î¡°' */
.icon-pencil-1:before {
    content: '\e871';
}

/* 'î¡±' */
.icon-location-1:before {
    content: '\e872';
}

/* 'î¡²' */
.icon-cup-1:before {
    content: '\e873';
}

/* 'î¡³' */
.icon-trash-1:before {
    content: '\e874';
}

/* 'î¡´' */
.icon-doc-1:before {
    content: '\e875';
}

/* 'î¡µ' */
.icon-key:before {
    content: '\e876';
}

/* 'î¡¶' */
.icon-database:before {
    content: '\e877';
}

/* 'î¡·' */
.icon-megaphone:before {
    content: '\e878';
}

/* 'î¡¸' */
.icon-graduation-cap-1:before {
    content: '\e879';
}

/* 'î¡¹' */
.icon-fire:before {
    content: '\e87a';
}

/* 'î¡º' */
.icon-paper-plane-1:before {
    content: '\e87b';
}

/* 'î¡»' */
.icon-cloud:before {
    content: '\e87c';
}

/* 'î¡¼' */
.icon-globe-1:before {
    content: '\e87d';
}

/* 'î¡½' */
.icon-inbox:before {
    content: '\e87e';
}

/* 'î¡¾' */
.icon-cd:before {
    content: '\e87f';
}

/* 'î¡¿' */
.icon-mobile:before {
    content: '\e880';
}

/* 'î¢€' */
.icon-desktop:before {
    content: '\e881';
}

/* 'î¢' */
.icon-tv:before {
    content: '\e882';
}

/* 'î¢‚' */
.icon-lightbulb:before {
    content: '\e883';
}

/* 'î¢ƒ' */
.icon-clock-1:before {
    content: '\e884';
}

/* 'î¢„' */
.icon-sound-1:before {
    content: '\e885';
}

/* 'î¢…' */
.icon-params:before {
    content: '\e886';
}

/* 'î¢†' */
.icon-calendar-1:before {
    content: '\e887';
}

/* 'î¢‡' */
.icon-cog:before {
    content: '\e888';
}

/* 'î¢ˆ' */
.icon-note:before {
    content: '\e889';
}

/* 'î¢‰' */
.icon-beaker:before {
    content: '\e88a';
}

/* 'î¢Š' */
.icon-truck:before {
    content: '\e88b';
}

/* 'î¢‹' */
.icon-money:before {
    content: '\e88c';
}

/* 'î¢Œ' */
.icon-shop:before {
    content: '\e88d';
}

/* 'î¢' */
.icon-diamond:before {
    content: '\e88e';
}

/* 'î¢Ž' */
.icon-t-shirt:before {
    content: '\e88f';
}

/* 'î¢' */
.icon-wallet:before {
    content: '\e890';
}

/* 'î¢' */
.icon-food:before {
    content: '\e891';
}

/* 'î¢‘' */
.icon-certificate:before {
    content: '\e892';
}

/* 'î¢’' */
.icon-megaphone-1:before {
    content: '\e893';
}

/* 'î¢“' */
.icon-gift:before {
    content: '\e894';
}

/* 'î¢”' */
.icon-asl:before {
    content: '\e895';
}

/* 'î¢•' */
.icon-glasses:before {
    content: '\e896';
}

/* 'î¢–' */
.icon-adult:before {
    content: '\e897';
}

/* 'î¢—' */
.icon-child:before {
    content: '\e898';
}

/* 'î¢˜' */
.icon-blind:before {
    content: '\e899';
}

/* 'î¢™' */
.icon-guidedog:before {
    content: '\e89a';
}

/* 'î¢š' */
.icon-accessibility:before {
    content: '\e89b';
}

/* 'î¢›' */
.icon-universal-access:before {
    content: '\e89c';
}

/* 'î¢œ' */
.icon-hearing-impaired:before {
    content: '\e89d';
}

/* 'î¢' */
.icon-iphone-home:before {
    content: '\e89e';
}

/* 'î¢ž' */
.icon-fire-1:before {
    content: '\e89f';
}

/* 'î¢Ÿ' */
.icon-down-hand:before {
    content: '\e8a0';
}

/* 'î¢ ' */
.icon-left-hand:before {
    content: '\e8a1';
}

/* 'î¢¡' */
.icon-right-hand:before {
    content: '\e8a2';
}

/* 'î¢¢' */
.icon-up-hand:before {
    content: '\e8a3';
}

/* 'î¢£' */
.icon-cw-1:before {
    content: '\e8a4';
}

/* 'î¢¤' */
.icon-cw-circled:before {
    content: '\e8a5';
}

/* 'î¢¥' */
.icon-arrows-cw-1:before {
    content: '\e8a6';
}

/* 'î¢¦' */
.icon-shuffle-1:before {
    content: '\e8a7';
}

/* 'î¢§' */
.icon-play-circled:before {
    content: '\e8a8';
}

/* 'î¢¨' */
.icon-play-circled2:before {
    content: '\e8a9';
}

/* 'î¢©' */
.icon-laptop:before {
    content: '\e8aa';
}

/* 'î¢ª' */
.icon-desktop-circled:before {
    content: '\e8ab';
}

/* 'î¢«' */
.icon-desktop-1:before {
    content: '\e8ac';
}

/* 'î¢¬' */
.icon-signal-1:before {
    content: '\e8ad';
}

/* 'î¢­' */
.icon-key-1:before {
    content: '\e8ae';
}

/* 'î¢®' */
.icon-flight-1:before {
    content: '\e8af';
}

/* 'î¢¯' */
.icon-filter:before {
    content: '\e8b0';
}

/* 'î¢°' */
.icon-credit-card:before {
    content: '\e8b1';
}

/* 'î¢±' */
.icon-clipboard:before {
    content: '\e8b2';
}

/* 'î¢²' */
.icon-heart-empty-1:before {
    content: '\e8b3';
}

/* 'î¢³' */
.icon-star-2:before {
    content: '\e8b4';
}

/* 'î¢´' */
.icon-star-circled:before {
    content: '\e8b5';
}

/* 'î¢µ' */
.icon-star-empty-1:before {
    content: '\e8b6';
}

/* 'î¢¶' */
.icon-heart-circled:before {
    content: '\e8b7';
}

/* 'î¢·' */
.icon-heart-2:before {
    content: '\e8b8';
}

/* 'î¢¸' */
.icon-mail-circled:before {
    content: '\e8b9';
}

/* 'î¢¹' */
.icon-mail-2:before {
    content: '\e8ba';
}

/* 'î¢º' */
.icon-th-large-1:before {
    content: '\e8bb';
}

/* 'î¢»' */
.icon-th-1:before {
    content: '\e8bc';
}

/* 'î¢¼' */
.icon-th-list-1:before {
    content: '\e8bd';
}

/* 'î¢½' */
.icon-ok-circled:before {
    content: '\e8be';
}

/* 'î¢¾' */
.icon-ok-circled2:before {
    content: '\e8bf';
}

/* 'î¢¿' */
.icon-ok:before {
    content: '\e8c0';
}

/* 'î£€' */
.icon-pencil-2:before {
    content: '\e8c1';
}

/* 'î£' */
.icon-pencil-circled:before {
    content: '\e8c2';
}

/* 'î£‚' */
.icon-eye-2:before {
    content: '\e8c3';
}

/* 'î£ƒ' */
.icon-eye-off:before {
    content: '\e8c4';
}

/* 'î£„' */
.icon-warning:before {
    content: '\e8c5';
}

/* 'î£…' */
.icon-bell-1:before {
    content: '\e8c6';
}

/* 'î£†' */
.icon-phone-circled:before {
    content: '\e8c7';
}

/* 'î£‡' */
.icon-phone-1:before {
    content: '\e8c8';
}

/* 'î£ˆ' */
.icon-folder-open:before {
    content: '\e8c9';
}

/* 'î£‰' */
.icon-folder-close:before {
    content: '\e8ca';
}

/* 'î£Š' */
.icon-folder:before {
    content: '\e8cb';
}

/* 'î£‹' */
.icon-folder-circled:before {
    content: '\e8cc';
}

/* 'î£Œ' */
.icon-doc-new:before {
    content: '\e8cd';
}

/* 'î£' */
.icon-doc-new-circled:before {
    content: '\e8ce';
}

/* 'î£Ž' */
.icon-doc-circled:before {
    content: '\e8cf';
}

/* 'î£' */
.icon-doc-2:before {
    content: '\e8d0';
}

/* 'î£' */
.icon-trash-circled:before {
    content: '\e8d1';
}

/* 'î£‘' */
.icon-trash-2:before {
    content: '\e8d2';
}

/* 'î£’' */
.icon-location-circled:before {
    content: '\e8d3';
}

/* 'î£“' */
.icon-location-2:before {
    content: '\e8d4';
}

/* 'î£”' */
.icon-attach-3:before {
    content: '\e8d5';
}

/* 'î£•' */
.icon-attach-circled:before {
    content: '\e8d6';
}

/* 'î£–' */
.icon-lock-open-alt:before {
    content: '\e8d7';
}

/* 'î£—' */
.icon-lock-open-1:before {
    content: '\e8d8';
}

/* 'î£˜' */
.icon-lock-circled:before {
    content: '\e8d9';
}

/* 'î£™' */
.icon-lock-2:before {
    content: '\e8da';
}

/* 'î£š' */
.icon-camera-2:before {
    content: '\e8db';
}

/* 'î£›' */
.icon-facebook:before {
    content: '\e8dc';
}

/* 'î£œ' */
.icon-facebook-rect:before {
    content: '\e8dd';
}

/* 'î£' */
.icon-twitter:before {
    content: '\e8de';
}

/* 'î£ž' */
.icon-twitter-bird:before {
    content: '\e8df';
}

/* 'î£Ÿ' */
.icon-vimeo:before {
    content: '\e8e0';
}

/* 'î£ ' */
.icon-vimeo-rect:before {
    content: '\e8e1';
}

/* 'î£¡' */
.icon-tumblr:before {
    content: '\e8e2';
}

/* 'î£¢' */
.icon-tumblr-rect:before {
    content: '\e8e3';
}

/* 'î££' */
.icon-googleplus-rect:before {
    content: '\e8e4';
}

/* 'î£¤' */
.icon-github-text:before {
    content: '\e8e5';
}

/* 'î£¥' */
.icon-github:before {
    content: '\e8e6';
}

/* 'î£¦' */
.icon-skype:before {
    content: '\e8e7';
}

/* 'î£§' */
.icon-icq:before {
    content: '\e8e8';
}

/* 'î£¨' */
.icon-yandex:before {
    content: '\e8e9';
}

/* 'î£©' */
.icon-yandex-rect:before {
    content: '\e8ea';
}

/* 'î£ª' */
.icon-vkontakte-rect:before {
    content: '\e8eb';
}

/* 'î£«' */
.icon-odnoklassniki:before {
    content: '\e8ec';
}

/* 'î£¬' */
.icon-odnoklassniki-rect:before {
    content: '\e8ed';
}

/* 'î£­' */
.icon-friendfeed:before {
    content: '\e8ee';
}

/* 'î£®' */
.icon-friendfeed-rect:before {
    content: '\e8ef';
}

/* 'î£¯' */
.icon-discover:before {
    content: '\e8f0';
}

/* 'î£°' */
.icon-amex:before {
    content: '\e8f1';
}

/* 'î£±' */
.icon-win8:before {
    content: '\e8f2';
}

/* 'î£²' */
.icon-youku:before {
    content: '\e8f3';
}

/* 'î£³' */
.icon-tudou:before {
    content: '\e8f4';
}

/* 'î£´' */
.icon-box-rect:before {
    content: '\e8f5';
}

/* 'î£µ' */
.icon-box:before {
    content: '\e8f6';
}

/* 'î£¶' */
.icon-diigo:before {
    content: '\e8f7';
}

/* 'î£·' */
.icon-instagram-filled:before {
    content: '\e8f8';
}

/* 'î£¸' */
.icon-wordpress:before {
    content: '\e8f9';
}

/* 'î£¹' */
.icon-picasa:before {
    content: '\e8fa';
}

/* 'î£º' */
.icon-linkedin-rect:before {
    content: '\e8fb';
}

/* 'î£»' */
.icon-linkedin:before {
    content: '\e8fc';
}

/* 'î£¼' */
.icon-lastfm-rect:before {
    content: '\e8fd';
}

/* 'î£½' */
.icon-lastfm:before {
    content: '\e8fe';
}

/* 'î£¾' */
.icon-jabber:before {
    content: '\e8ff';
}

/* 'î£¿' */
.icon-deviantart:before {
    content: '\e900';
}

/* 'î¤€' */
.icon-blogger-rect:before {
    content: '\e901';
}

/* 'î¤' */
.icon-blogger:before {
    content: '\e902';
}

/* 'î¤‚' */
.icon-visa:before {
    content: '\e903';
}

/* 'î¤ƒ' */
.icon-mastercard:before {
    content: '\e904';
}

/* 'î¤„' */
.icon-houzz:before {
    content: '\e905';
}

/* 'î¤…' */
.icon-bandcamp:before {
    content: '\e906';
}

/* 'î¤†' */
.icon-codepen:before {
    content: '\e907';
}

/* 'î¤‡' */
.icon-bicycle:before {
    content: '\e908';
}

/* 'î¤ˆ' */
.icon-bus:before {
    content: '\e909';
}

/* 'î¤‰' */
.icon-cafe:before {
    content: '\e90a';
}

/* 'î¤Š' */
.icon-college:before {
    content: '\e90b';
}

/* 'î¤‹' */
.icon-cinema:before {
    content: '\e90c';
}

/* 'î¤Œ' */
.icon-library:before {
    content: '\e90d';
}

/* 'î¤' */
.icon-lodging:before {
    content: '\e90e';
}

/* 'î¤Ž' */
.icon-minefield:before {
    content: '\e90f';
}

/* 'î¤' */
.icon-london-underground:before {
    content: '\e910';
}

/* 'î¤' */
.icon-theatre:before {
    content: '\e911';
}

/* 'î¤‘' */
.icon-tennis:before {
    content: '\e912';
}

/* 'î¤’' */
.icon-swimming:before {
    content: '\e913';
}

/* 'î¤“' */
.icon-soccer:before {
    content: '\e914';
}

/* 'î¤”' */
.icon-skiing:before {
    content: '\e915';
}

/* 'î¤•' */
.icon-shop-1:before {
    content: '\e916';
}

/* 'î¤–' */
.icon-school:before {
    content: '\e917';
}

/* 'î¤—' */
.icon-religious-islam:before {
    content: '\e918';
}

/* 'î¤˜' */
.icon-religious-jewish:before {
    content: '\e919';
}

/* 'î¤™' */
.icon-religious-christian:before {
    content: '\e91a';
}

/* 'î¤š' */
.icon-rail:before {
    content: '\e91b';
}

/* 'î¤›' */
.icon-prison:before {
    content: '\e91c';
}

/* 'î¤œ' */
.icon-post:before {
    content: '\e91d';
}

/* 'î¤' */
.icon-pitch:before {
    content: '\e91e';
}

/* 'î¤ž' */
.icon-police:before {
    content: '\e91f';
}

/* 'î¤Ÿ' */
.icon-tree-1:before {
    content: '\e920';
}

/* 'î¤ ' */
.icon-tree-2:before {
    content: '\e921';
}

/* 'î¤¡' */
.icon-warehouse:before {
    content: '\e922';
}

/* 'î¤¢' */
.icon-fast-food:before {
    content: '\e923';
}

/* 'î¤£' */
.icon-ferry:before {
    content: '\e924';
}

/* 'î¤¤' */
.icon-fire-station:before {
    content: '\e925';
}

/* 'î¤¥' */
.icon-football:before {
    content: '\e926';
}

/* 'î¤¦' */
.icon-fuel:before {
    content: '\e927';
}

/* 'î¤§' */
.icon-garden:before {
    content: '\e928';
}

/* 'î¤¨' */
.icon-giraffe:before {
    content: '\e929';
}

/* 'î¤©' */
.icon-golf:before {
    content: '\e92a';
}

/* 'î¤ª' */
.icon-grocery-store:before {
    content: '\e92b';
}

/* 'î¤«' */
.icon-harbor:before {
    content: '\e92c';
}

/* 'î¤¬' */
.icon-belowground-rail:before {
    content: '\e92d';
}

/* 'î¤­' */
.icon-beer:before {
    content: '\e92e';
}

/* 'î¤®' */
.icon-basketball:before {
    content: '\e92f';
}

/* 'î¤¯' */
.icon-baseball:before {
    content: '\e930';
}

/* 'î¤°' */
.icon-bar2:before {
    content: '\e931';
}

/* 'î¤±' */
.icon-art-gallery:before {
    content: '\e932';
}

/* 'î¤²' */
.icon-airport:before {
    content: '\e933';
}

/* 'î¤³' */
.icon-airfield:before {
    content: '\e934';
}

/* 'î¤´' */
.icon-aboveground-rail:before {
    content: '\e935';
}

/* 'î¤µ' */
.icon-cemetery:before {
    content: '\e936';
}

/* 'î¤¶' */
.icon-commerical-building:before {
    content: '\e937';
}

/* 'î¤·' */
.icon-credit-card-1:before {
    content: '\e938';
}

/* 'î¤¸' */
.icon-cricket:before {
    content: '\e939';
}

/* 'î¤¹' */
.icon-embassy:before {
    content: '\e93a';
}

/* 'î¤º' */
.icon-pharmacy:before {
    content: '\e93b';
}

/* 'î¤»' */
.icon-museum:before {
    content: '\e93c';
}

/* 'î¤¼' */
.icon-monument:before {
    content: '\e93d';
}

/* 'î¤½' */
.icon-toilet:before {
    content: '\e93e';
}

/* 'î¤¾' */
.icon-town-hall:before {
    content: '\e93f';
}

/* 'î¤¿' */
.icon-trash-3:before {
    content: '\e940';
}

/* 'î¥€' */
.icon-heliport:before {
    content: '\e941';
}

/* 'î¥' */
.icon-hospital:before {
    content: '\e942';
}

/* 'î¥‚' */
.icon-industrial-building:before {
    content: '\e943';
}

/* 'î¥ƒ' */
.icon-restaurant:before {
    content: '\e944';
}

/* 'î¥„' */
.icon-menu-1:before {
    content: '\e945';
}

/* 'î¥…' */
.icon-th-thumb:before {
    content: '\e946';
}

/* 'î¥†' */
.icon-th-list-2:before {
    content: '\e947';
}

/* 'î¥‡' */
.icon-th-thumb-empty:before {
    content: '\e948';
}

/* 'î¥ˆ' */
.icon-ok-1:before {
    content: '\e949';
}

/* 'î¥‰' */
.icon-ok-circled-1:before {
    content: '\e94a';
}

/* 'î¥Š' */
.icon-cancel-1:before {
    content: '\e94b';
}

/* 'î¥‹' */
.icon-cancel-circled:before {
    content: '\e94c';
}

/* 'î¥Œ' */
.icon-plus:before {
    content: '\e94d';
}

/* 'î¥' */
.icon-help-circled-1:before {
    content: '\e94e';
}

/* 'î¥Ž' */
.icon-help-circled-alt:before {
    content: '\e94f';
}

/* 'î¥' */
.icon-user-2:before {
    content: '\e950';
}

/* 'î¥' */
.icon-user-male:before {
    content: '\e951';
}

/* 'î¥‘' */
.icon-user-female:before {
    content: '\e952';
}

/* 'î¥’' */
.icon-users-1:before {
    content: '\e953';
}

/* 'î¥“' */
.icon-camera-3:before {
    content: '\e954';
}

/* 'î¥”' */
.icon-eye-3:before {
    content: '\e955';
}

/* 'î¥•' */
.icon-lock-3:before {
    content: '\e956';
}

/* 'î¥–' */
.icon-lock-alt:before {
    content: '\e957';
}

/* 'î¥—' */
.icon-lock-open-2:before {
    content: '\e958';
}

/* 'î¥˜' */
.icon-lock-open-alt-1:before {
    content: '\e959';
}

/* 'î¥™' */
.icon-attach-4:before {
    content: '\e95a';
}

/* 'î¥š' */
.icon-link-1:before {
    content: '\e95b';
}

/* 'î¥›' */
.icon-info-circled-alt:before {
    content: '\e95c';
}

/* 'î¥œ' */
.icon-clock-2:before {
    content: '\e95d';
}

/* 'î¥' */
.icon-stopwatch:before {
    content: '\e95e';
}

/* 'î¥ž' */
.icon-hourglass:before {
    content: '\e95f';
}

/* 'î¥Ÿ' */
.icon-paper-plane-alt:before {
    content: '\e960';
}

/* 'î¥ ' */
.icon-paper-plane-alt2:before {
    content: '\e961';
}

/* 'î¥¡' */
.icon-location-3:before {
    content: '\e962';
}

/* 'î¥¢' */
.icon-trash-4:before {
    content: '\e963';
}

/* 'î¥£' */
.icon-doc-3:before {
    content: '\e964';
}

/* 'î¥¤' */
.icon-newspaper-1:before {
    content: '\e965';
}

/* 'î¥¥' */
.icon-folder-open-1:before {
    content: '\e966';
}

/* 'î¥¦' */
.icon-folder-empty:before {
    content: '\e967';
}

/* 'î¥§' */
.icon-folder-open-empty:before {
    content: '\e968';
}

/* 'î¥¨' */
.icon-folder-1:before {
    content: '\e969';
}

/* 'î¥©' */
.icon-attention-alt:before {
    content: '\e96a';
}

/* 'î¥ª' */
.icon-attention-1:before {
    content: '\e96b';
}

/* 'î¥«' */
.icon-bell-2:before {
    content: '\e96c';
}

/* 'î¥¬' */
.icon-chat-1:before {
    content: '\e96d';
}

/* 'î¥­' */
.icon-comment-1:before {
    content: '\e96e';
}

/* 'î¥®' */
.icon-print:before {
    content: '\e96f';
}

/* 'î¥¯' */
.icon-export-1:before {
    content: '\e970';
}

/* 'î¥°' */
.icon-reply:before {
    content: '\e971';
}

/* 'î¥±' */
.icon-pencil-3:before {
    content: '\e972';
}

/* 'î¥²' */
.icon-calendar-2:before {
    content: '\e973';
}

/* 'î¥³' */
.icon-globe-2:before {
    content: '\e974';
}

/* 'î¥´' */
.icon-globe-inv:before {
    content: '\e975';
}

/* 'î¥µ' */
.icon-at:before {
    content: '\e976';
}

/* 'î¥¶' */
.icon-play-circled-1:before {
    content: '\e977';
}

/* 'î¥·' */
.icon-play-circled2-1:before {
    content: '\e978';
}

/* 'î¥¸' */
.icon-pause:before {
    content: '\e979';
}

/* 'î¥¹' */
.icon-stop:before {
    content: '\e97a';
}

/* 'î¥º' */
.icon-trash-5:before {
    content: '\e97b';
}

/* 'î¥»' */
.icon-doc-4:before {
    content: '\e97c';
}

/* 'î¥¼' */
.icon-docs-1:before {
    content: '\e97d';
}

/* 'î¥½' */
.icon-doc-text-1:before {
    content: '\e97e';
}

/* 'î¥¾' */
.icon-user-md:before {
    content: '\e97f';
}

/* 'î¥¿' */
.icon-stethoscope:before {
    content: '\e980';
}

/* 'î¦€' */
.icon-ambulance:before {
    content: '\e981';
}

/* 'î¦' */
.icon-building-filled:before {
    content: '\e982';
}

/* 'î¦‚' */
.icon-bank:before {
    content: '\e983';
}

/* 'î¦ƒ' */
.icon-medkit:before {
    content: '\e984';
}

/* 'î¦„' */
.icon-coffee:before {
    content: '\e985';
}

/* 'î¦…' */
.icon-taxi:before {
    content: '\e986';
}

/* 'î¦†' */
.icon-truck-1:before {
    content: '\e987';
}

/* 'î¦‡' */
.icon-food-1:before {
    content: '\e988';
}

/* 'î¦ˆ' */
.icon-user-pair:before {
    content: '\e989';
}

/* 'î¦‰' */
.icon-user-woman:before {
    content: '\e98a';
}

/* 'î¦Š' */
.icon-home-1:before {
    content: '\e98b';
}

/* 'î¦‹' */
.icon-basket-1:before {
    content: '\e98c';
}

/* 'î¦Œ' */
.icon-website:before {
    content: '\e98d';
}

/* 'î¦' */
.icon-group:before {
    content: '\e98e';
}

/* 'î¦Ž' */
.icon-user-3:before {
    content: '\e98f';
}

/* 'î¦' */
.icon-person:before {
    content: '\e990';
}

/* 'î¦' */
.icon-group-circled:before {
    content: '\e991';
}

/* 'î¦‘' */
.icon-female:before {
    content: '\e992';
}

/* 'î¦’' */
.icon-smiley:before {
    content: '\e993';
}

/* 'î¦“' */
.icon-smiley-circled:before {
    content: '\e994';
}

/* 'î¦”' */
.icon-bug:before {
    content: '\e995';
}

/* 'î¦•' */
.icon-certificate-1:before {
    content: '\e996';
}

/* 'î¦–' */
.icon-graduation-cap-2:before {
    content: '\e997';
}

/* 'î¦—' */
.icon-wheelchair:before {
    content: '\e998';
}

/* 'î¦˜' */
.icon-extinguisher:before {
    content: '\e999';
}

/* 'î¦™' */
.icon-shield:before {
    content: '\e99a';
}

/* 'î¦š' */
.icon-hammer:before {
    content: '\e99b';
}

/* 'î¦›' */
.icon-cab:before {
    content: '\e99c';
}

/* 'î¦œ' */