.cabeca{
    height: 50px;
    background-color: #ba5624;
}
.menu-cabeca{
    height: 100%;
    /*border-right: 1px solid #b19e9e;*/
    color: #ad8e8e;
    text-align: center;
    width: 200px;
    float: left;
}
.page-cabeca{
    padding-right: 10px;
    float: right;
}
.perfil{
    
}
.breadcrumb{
    background-color: #ffffff;
}
.breadcrumb a{
    display: block;
    color: black;
    text-align: center;
    padding: 6px;
    text-decoration: none
}
.breadcrumb ul{
    list-style-type: none;
    display: flex;
    background-color: #ffffff;
}
.breadcrumb li{
    float: left;
}
.meio{
    height: 100%;
    width: 100%;
    display: table;
}
.coluna{
    float: left;
    padding: 5px 0px 0px 5px;
}
.meio-corpo{
    
}
.bar{display: none;}
.page{
    z-index: 5555;
    position: relative;
/*    background-color: #f3f3f3;*/
    height: 100%;
}
.tamanho-site{
    max-width: 1390px;
    margin:0 auto;
}
#menu{   
    float: left;
    background-color: #303036;
    border-right: 1px solid #ad8e8e;
    width: 200px;
    display: block;
    height: 100%;
}

#menu li{
        padding: 2px 10px 4px 10px;
}

.corpo{
    float:left;
}

* {
    padding: 0;
    margin: 0;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    background-color: #f1f1f1;
} 

#menu a {
    color: #d3d2d7;
}
a{
    text-decoration: none;
}

.circulo {
    border-radius: 100%;
    border: 1px solid #3e292f;
    width: 45px;
    height: 45px;
    /* background-color: #3e292f; */
}


@media (max-width: 800px){
    .cabeca{height: 30px}
    .bar{top: 20%;position: relative;display: inline}
    .menu-cabeca{
        width: 30px;
    }
    #menu{
        display: none;
    }
}

@media (min-width:801px){
    #menu{
        display: block;
    }
}