* {
    padding: 0;
    margin: 0;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    background-color: #f1f1f1;
    position: relative;
} 
header{
    height: 50px;
    background-color: #ba5624;
}

main > *{
    margin-top: 5px;
}
.menu-cabeca{
    height: 100%;
    /*border-right: 1px solid #b19e9e;*/
    color: #ad8e8e;
    text-align: center;
    width: 200px;
    float: left;
}
.page-cabeca{
    padding-right: 10px;
    float: right;
}
.perfil{
    
}
.breadcrumb{
    background-color: #ffffff;
}
.breadcrumb a{
    display: block;
    color: black;
    text-align: center;
    padding: 6px;
    text-decoration: none
}
.breadcrumb ul{
    list-style-type: none;
    display: flex;
    background-color: #ffffff;
}
.breadcrumb li{
    float: left;
}

.bar{display: none;}

.tamanho-site{
    max-width: 1390px;
    margin:0 auto;
}
.nav-menu-container{   
    float: left;
    background-color: #303036;
    border-right: 1px solid #ad8e8e;
    width: 200px;
    display: block;
    height: 100%;
}
.nav-item{
    list-style-type: none;
}

.nav-item li{
     padding: 2px 10px 4px 10px;
}




#menu a {
    color: #d3d2d7;
}
a{
    text-decoration: none;
}

input[type=text],input[type=password]{
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    box-sizing: border-box;
    padding: 0px 0px 0px 5px;
}

.bemVindo{
    text-align: center;
    margin: 21px;
}
.box div{
    margin-top: 25px;
}

.circulo {
    border-radius: 100%;
    border: 1px solid #3e292f;
    width: 45px;
    height: 45px;
    /* background-color: #3e292f; */
}

.conteiner-login {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.box {
    width: 250px;
    background: #fff;
    padding: 15px
}

.btn-login{
	border : solid 0px #000000;
	border-radius : 4px;
	moz-border-radius : 4px;
	-webkit-box-shadow : 0px 2px 3px rgba(168,168,168,1.0);
	-moz-box-shadow : 0px 2px 3px rgba(168,168,168,1.0);
	box-shadow : 0px 2px 3px rgba(168,168,168,1.0);
	font-size : 20px;
	color : #ffffff;
	padding : 5px 9px;
	background-color : #3d393d;

}


@media (max-width: 800px){
    .cabeca{height: 30px}
    .bar{top: 20%;position: relative;display: inline}
    .menu-cabeca{
        width: 30px;
    }
    #menu{
        display: none;
    }
}

@media (min-width:801px){
    #menu{
        display: block;
    }
}